*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 2 CÁI ROOT ĐỂ LẤY MÀU VÀ XEM KHAI BÁO */
:root{
    --primary: #dc4f72;
    --secondary: #0d5fa8;
    --title-color: #2C3038;
    --text-color: #5a5a5a;
    --light-bg-color: #F7F9FC;
    --bg-color: #fff;
    --border-color: #eee;
    --bg-color-light: #fff;
    --bg-lightgrey: #f7f7f7;
    --border-color-light: #f8f9fa;
    --card-curve: 6px;
    --iframe-filter: grayscale(0%);
    --card-box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
    --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    --transformY: translateY(-0.5rem);
}
:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #dc4f72;
    --secondary: #0d5fa8;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
/* KHAI BÁO CONTAINER */
.container{
    max-width: 1200px;
}
/* HIỆU ỨNG BÀN TAY KHI RÊ CHUỘT CHUNG */
button, .btn, select {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

/* HEADER */
header {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}
.header__content .navbar-brand i {
    color: #de5879;
    font-size: 30px;
}
  
.header__content .navbar-brand span {
    font-size: 2rem;
    color: #de5879;
}

.header__content ul.navbar-nav li {
    margin: 0 20px;
    
}
.header__content ul.navbar-nav li a {
    font-size: 16px;
    color: black !important;
    
}
.header__content ul.navbar-nav li.active a {
    color: #de5879 !important;
}

.header__content ul.navbar-nav li::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background-color: #de5879;
    transition: all 0.5s;
}

.header__content ul.navbar-nav li.active::after,
.header__content ul.navbar-nav li:hover::after {
    width: 50%;
}

.header__content ul.navbar-nav li:hover a {
    color: #de5879 !important;
}
a.search-search span.fa {
    color: gray;
    font-size: 15px;
    opacity: .7;
    width: 40px;
    height: 40px;
    line-height: 38px;
    background: lightgrey;
    text-align: center;
    border-radius: 50px;
    border: 1px solid transparent;
    margin-right: 10px;
}
/* ABOUT OUR COMPANY & STATISTIC - CAOVANLUC */
/* <!-- I. ABOUT OUR COMPANY --> */
.w3l-index3{
    background-color: #F7F9FC;
}
.sub-title{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.w3l-index3 .book-info h3{
    font-size: 35px;
    line-height: 40px;
    color: #2C3038 ;
    font-weight: 700;
}
.w3l-index3 .book-info p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #5a5a5a ;
    line-height: 24.4px;
}
.btn-primary{
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.theme-button{
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}
.btn{
    -webkit-transition: 0.5s all;
}
.btn-primary:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
}
img.img-curve {
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
img.img-curve:hover{
    transform: translateY(-0.5rem);
    transition: 0.3s ease-in-out;
}