*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
/* 2 CÁI ROOT ĐỂ LẤY MÀU VÀ XEM KHAI BÁO */
:root{
    --primary: #dc4f72;
    --secondary: #0d5fa8;
    --title-color: #2C3038;
    --text-color: #5a5a5a;
    --light-bg-color: #F7F9FC;
    --bg-color: #fff;
    --border-color: #eee;
    --bg-color-light: #fff;
    --bg-lightgrey: #f7f7f7;
    --border-color-light: #f8f9fa;
    --card-curve: 6px;
    --iframe-filter: grayscale(0%);
    --card-box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
    --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    --transformY: translateY(-0.5rem);
}
:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #dc4f72;
    --secondary: #0d5fa8;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}
/* KHAI BÁO CONTAINER */
.container{
    max-width: 1200px;
}
/* HIỆU ỨNG BÀN TAY KHI RÊ CHUỘT CHUNG */
button, .btn, select {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}
ul {
    list-style: disc;
}
a, a:hover {
    text-decoration: none;
}
li {
    list-style-type: none;
}

/* HEADER */
header {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}
.header__content .navbar-brand i {
    color: #de5879;
    font-size: 30px;
}
  
.header__content .navbar-brand span {
    font-size: 2rem;
    color: #de5879;
}

.header__content ul.navbar-nav li {
    margin: 0 20px;
    
}
.header__content ul.navbar-nav li a {
    font-size: 16px;
    color: black !important;
    
}
.header__content ul.navbar-nav li.active a {
    color: #de5879 !important;
}

.header__content ul.navbar-nav li::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background-color: #de5879;
    transition: all 0.5s;
}

.header__content ul.navbar-nav li.active::after,
.header__content ul.navbar-nav li:hover::after {
    width: 50%;
}

.header__content ul.navbar-nav li:hover a {
    color: #de5879 !important;
}
a.search-search span.fa {
    color: gray;
    font-size: 15px;
    opacity: .7;
    width: 40px;
    height: 40px;
    line-height: 38px;
    background: lightgrey;
    text-align: center;
    border-radius: 50px;
    border: 1px solid transparent;
    margin-right: 10px;
}
/* ABOUT OUR COMPANY & STATISTIC - CAOVANLUC */
/* <!-- I. ABOUT OUR COMPANY - CAOVANLUC --> */
.w3l-index3{
    background-color: #F7F9FC;
}
.sub-title{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.w3l-index3 .book-info h3{
    font-size: 35px;
    line-height: 40px;
    color: #2C3038 ;
    font-weight: 700;
}
.w3l-index3 .book-info p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #5a5a5a ;
    line-height: 24.4px;
}
.btn-primary{
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.theme-button{
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}
.btn{
    -webkit-transition: 0.5s all;
}
.btn-primary:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;}
img.img-curve {
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
img.img-curve:hover{
    transform: translateY(-0.5rem);
    transition: 0.3s ease-in-out;
}
/* <!-- II. STATISTIC - CAOVANLUC --> */
.w3l-stats{
    background: #F7F9FC;
}
.w3l-stats .stats_info {
    background-color: #fff;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
    transition: 0.3s ease;
    border: 1px solid #f8f9fa;
}
.w3l-stats .stats_info h4{
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: #2C3038;
    font-weight: 700;
}
.w3l-stats p.counter{
    font-size: 50px;
    line-height: 1;
    color: #dc4f72;
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}
.w3l-stats .stats_info:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transition: 0.3s ease;
}
/* NEWS - CAOVANLUC */
.new-block{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../img/bg_news.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 2rem 0;
}
.w3l-index4 .middle-section {
    max-width: 550px;
}
.w3l-index4 .middle-section h2 {
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.w3l-index4 .link-list-menu p {
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
}
.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
/* PROJECT - CAOVANLUC */
.header-section {
    max-width: 750px;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.header-section h3 {
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.header-section p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    max-width: 750px;
}
.resp-tabs-list li {
    font-weight: 700;
    font-size: 22px;
    padding: 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    width: 33.333%;
    text-align: center;
    color: #2C3038;
    background: #fff !important;
    border-bottom: 3px solid #f8f9fa;
}
.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}
h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;
}
h2.resp-accordion {
    font-size: 20px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}
h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}
.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}
.w3l-products .products-content {
    margin: 20px 0;
}
/* .resp-tab-content {
    border-top-color: #5AB1D0;
    display: none;
    padding: 15px;
} */
.w3l-products .products-content h3 {
    color: #2C3038;
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.w3l-products .products-content p {
    color: #5a5a5a;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24.5px;    
}
/* CTA - CAOVANLUC */
.header-section {
    max-width: 750px;
    margin: 0 auto;
}
.header-section h3 {
    color: #2C3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.header-section p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
/* FOOTER - CAOVANLUC */
.w3l-footer .w3l-footer-16-main.py-5 {
    background: #F7F9FC;
}
.w3l-footer .w3l-footer-16-main h3 {
    font-size: 20px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 700;
}
.column li {
    display: block;
    list-style: none;
    margin: 10px 0;
}
.column li a {
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-transform: capitalize;
}
.column li a:hover {
    color: #dc4f72;
}
.w3l-footer .end-column {
    background-color: #fff;
    padding: 2em;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
}
.w3l-footer .w3l-footer-16-main h4 {
    font-size: 18px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 500;
}
.w3l-footer form {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}
.w3l-footer .subscribe input[type="email"] {
    background: #F7F9FC;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 78%;
    color: #2C3038;
    font-weight: 600;
    border-radius: 6px;
}
.w3l-footer .subscribe button {
    text-align: center;
    background: #dc4f72;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 6px;
}
.w3l-footer .w3l-footer-16-main p {
    line-height: 22px;
    color: #5a5a5a;
    font-size: 16px;
}
.w3l-footer .subscribe button:hover {
    transition: all .5s ease;
}
.w3l-footer .below-section{
    border-top: 1px solid #eee;
}
.w3l-footer .w3l-footer-16-main p a {
    color: #2C3038;
}
.w3l-footer ul.social li{
    display: inline-block;
    margin-right: 5px;
}
.w3l-footer ul.social li a {
    color: #2C3038;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}
.w3l-footer ul.social li a:hover {
    color: #dc4f72;
    transition: 0.3s ease;
}
/* BACKTOTOP - CAOVANLUC */
.backtotop{
    width: 65px;
    height: 60px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 65px;
    text-align: center;
    display: block;
    position: fixed;
    right: 0px;
    bottom: 0px;
    color: white;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0; 
}
.cd-top--is-visible { 
    visibility: visible;
    opacity: 0.5;
}
.cd-top--fade-out { 
    opacity: 0.5;
}
.backtotop:hover{
    opacity: 1;
    transition: 0.3s ease;
}
.backtotop i{
    line-height: 45px;
    color: #fff;
    font-size: 22px;
}
